<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8"/>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="CalculatorService.Service1" behaviorConfiguration="CalculatorServiceBehavior">

				<!-- Main endpoint for service operations -->
				<endpoint address="" binding="basicHttpBinding" contract="CalculatorService.IService1"/>

				<!-- Metadata Exchange (MEX) endpoint to allow service discovery -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/CalculatorService/"/>
					</baseAddresses>
				</host>

			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="CalculatorServiceBehavior">
					<!-- Enable metadata exchange for WCF Test Client -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- Enable detailed error messages (set to false in production) -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IService1" />
			</basicHttpBinding>
		</bindings>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
